/*--------------------------------------------------------------
VARIABLES
--------------------------------------------------------------*/

///Colors
$blue			:#29A2D9;
$navy			:#12434C;
$orange			:#F57530;
$light-grey	    :#f9f8f7;
$grey-text	    :#555555;

///Fonts
$primary-font	:'Montserrat', sans-serif;
$secondary-font	:'Roboto Slab', serif;

///Scaffolding
$unit-base	:20px;